/* Universal Styles */

html {

  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}

h1{
    letter-spacing: .1em;
}

h2{
  letter-spacing:.05em
}
/*** Navigation bar at top **/
nav{
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 4rem;      /*  Redline spec */
  background: white;
  color: black;
}

.logo{
  margin-left: 1.5rem;  /* Redline spec */
  display:flex;
  align-items: center;
}
.logo span{
  font-size: 1.5rem;
  letter-spacing: .1em;
  font-weight: bold;
}
.logo .academy{
  color: gray;
}
nav img{
  height: 2rem; /* Redline spec --  */
  width: auto;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;   /* Redline Spec */
  font-size: 1.2rem;

}
nav li a{
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration: 500ms;
}
nav li a:hover{
  color: grey;
}
nav ul li:last-child{
  margin-right: 1.5rem;  /* Redline Spec */
}

.mobileNav {
  display:none;
}


@media only screen and (max-width: 960px){
  /* add margin to bottom of navbar*/
  nav li{
  margin-bottom: 1rem;}

}
/** media query to hide desktop navbar items and display mobile navbar... I am starting this sooner then the
    other mobile content as this looks bad sooner  ***/
@media only screen and (max-width: 600px){


/** Hide text for logo **/
.logo{
  display: none;
}
/** hide desktop nav **/
.desktopNav{
  display:none;
}
/** display mobile nave **/
nav{
  justify-content: space-around;
  align-items: stretch;

}
.mobileNav{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.mobileNav a{
  transition-property: opacity;
  transition-duration: 500ms;
}

.mobileNav a:hover{
  opacity: .5;
}


nav{
  justify-content: space-between;
}


}

/*** The Main Banner.  This includes the image and the banner-text containers. These
are side by side in a row flexbox.  */

.banner{
  background-color: rgb(216,216,216);
  display: flex;
}

.banner img{
  width: 60%;                   /** Redline Spec */
  margin: 2rem 1.5rem;         /** Redline Spec - Top/bottom 32px right/left 24px*/
}

.banner-text{
  display: flex;
  color: darkslategray;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.banner-text h1{
  margin-top:0;
  margin-bottom:0;
  font-size: 4rem;

}

.second-heading{
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.banner-text h2{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.startbutton {
  margin-top: 3rem;
  background: darkslategray;  /* ISSUE this color looks too green but according to a color picker tool it is correct */
  color: white;
  font-weight: bold;
  height: 2.5rem;
  padding-top: .5rem;    /** Redline spec - 8px top */
  padding-bottom: .5rem; /** Redline spec - 8px bottom */
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.startbutton a{
  text-decoration: none;
  color: white;
  transition-property: color;
  transition-duration: 500ms;
}
.startbutton a:hover{
  color: darkkhaki;
}

@media only screen and (max-width: 1200px)
{
  .banner img{
    margin: 1rem;
  }
}

@media only screen and (max-width: 1000px)
{
.banner{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.banner img{
  width: 100%;
  margin:1rem 0 2rem 0;  /* ISSUE added 1 rem top margin back for mobile */
  padding:0;
}
}

/** media query for mobile banner  ***/
@media only screen and (max-width: 480px){

   .banner{
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .banner img{
    width: 100%;
    margin:0 0 2rem 0;
    padding:0;
  }

.banner-text{
margin-right: 0;
}

.banner-text h1{
   font-size: 2.5rem;
   margin-left: 1rem;
}
.second-heading{
  margin-top: 1rem;
  padding-bottom: 3rem;
}
 .banner-text h2{
   margin-left: 1rem;
   margin-bottom: 0;
 }

 .startbutton{
   margin: 1.5rem 1rem 2rem 1rem;
 }

}
/********************** End of mobile for banner *************/

/**** Next Section - keep practicing.. another flexbox that consists of keep practicing and Orientation, campus and  Lecture(a column flexbox) ****/

.information{
 width: 100%;
 display:flex;
 justify-content: space-between;
 background-color: whitesmoke;
 color: darkslategrey;

}
.information-main{
  padding: 0;
  margin: 2rem 1.5rem; /* Redline Spec - Top/bottom are 32px rt/left 24px*/
  width: 60%;            /* Redline Spec -Image width  */
  display: flex;
  flex-direction: column;

}
.information-main img{
  width: 100%;
  padding:0;
  margin: 0;
}

.information-main h1{

  margin-top: 2rem;   /** Redline spec 32 px*/
  margin-bottom: 1.5rem;  /** Redline spec bottom margin 24px */
  padding-bottom: 0;
  padding-left: 0;
  font-size: 3rem;
  width:100%;

}

.information-main p{
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  width: 100%;

}
.quote {
  color: slategrey;
  margin-bottom: 2rem;
}

.person-quoted{
  margin-bottom: 2rem;   /** Redline spec - 32px bottom margin */
}

/**** right side of "Keep Practicing" section ***/

.orientation-campus-lecture{
  display: flex;
  flex-direction: column;
  width: 40%;           /*** Redline spec width for column is 40% */
  background-color: whitesmoke;
  color: darkslategrey;
  padding: 2rem 0;  /*** Redline spec 32px top(padding so that border goes to top)..*/
  margin: 0;
  border-left: 2px solid gainsboro;
}
.orientation, .campus, .lecture{
  display: flex;
  border-bottom: 2px solid gainsboro;
  background-color: whitesmoke;
  color: darkslategrey;
}
.campus {
  margin-top: .125rem;
  border-top: 2px solid gainsboro;
}

.ocl-image{

  width: 35%;     /*** Redline spec image width is 35% */
  height: auto;
  margin: 0rem 1rem 1rem 1rem; /* Redline spec - images have 1 rem margin.. except for top*/
}
.orientation img, .campus img, .lecture img{
  width: 100%;
  height: auto;

}
.campus img, .lecture img{
  padding-top: 1rem;   /* Redline spec 1rem top border for lower 2 images */
}
.ocl-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;        /* Redline spec 65% width for text */
}

.orientation-campus-lecture h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 .5rem .5rem 1rem; /** as per Redline spec */
}


.ocl-text h3{
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 1rem .5rem 1rem;
  line-height: 1.5;
}



.orientation-campus-lecture a{
  color: cornflowerblue;
  text-decoration: none;
  transition-property: color;
  transition-duration: 500ms;
}

.orientation-campus-lecture a:hover{
  color: darkblue;
}

.lecture{
  background-color: gainsboro;
}
/*** Stacking text and photos at 1200px for better readability */
@media only screen and (max-width: 1200px){

  .orientation, .campus, .lecture{
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    border-top: none;

  }
  .ocl-image{
    width: 65%;  /** out of proportion at 100%*/
    justify-content: center;
    margin: 1rem 1rem 1rem 1rem;
  }

}

/**** mobile for keep practicing section */


@media only screen and (max-width: 480px){

/** hide the keep practicing part */

.information-main{
  display:none;
}

.orientation-campus-lecture{
  width: 100%;
  border-left: none;
  margin: 0;
}
/** change the container  from a row to column flex container */
.orientation, .campus, .lecture{
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  border-top: none;

}

.ocl-image{
  width: 90%;  /** out of proportion at 100%*/
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
}

.ocl-text{
  width: 100%;
}
.orientation-campus-lecture h3{
  text-align: left;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

}
.orientation-campus-lecture h2{
  margin-left: 2rem;
}
.lecture{
  background-color: whitesmoke;
}

}

/**** Start Learning Section ***/
/*** Design is One flex container that is a column  - .learning */
/*** Title is top element */
/*** class-set is next element */


/* Each class-set is also a row flex container */


.learning{
  background-color: rgb(234,235,236);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4.5rem 2rem 4.5rem;  /** redline spec 72px side margin = 4.5rem */
}

.learning h1{
  margin-top: 2rem;  /* Redline spec */
  margin-bottom: 2rem;  /*Redline spec  */
  text-align: center;
  font-size: 3rem;
  color: darkslategrey;

}

.class-set{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.subject{
  background-color: whitesmoke;
  padding-bottom: 1.5rem;
  background-color: whitesmoke;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 30%;  /* for smaller full width browser 3 rows */
}

.subject img{
  width: 100%;
  height:auto;
}

.subject h2{
  margin-top: 1rem;    /** From Redline spec */
  margin-left: 1rem;  /** From Redline spec */
  font-size: 2rem;
  color: darkslategray;
}

.subject h3{
  margin-top: .5rem;
  margin-left: 1rem; /** From Redline spec */
  font-size: 1.8rem;
  font-weight: normal;
  color: slategray;
}

.subject p{
  margin-left: 1rem; /** From Redline spec */
  color: slategray;
  font-size: 1.5rem;
  margin-top:.5rem; /** From Redline spec */
  margin-bottom: .5rem;
}

/** turn off mobile learning html */
.learning.mobile{
  display:none;
}
@media only screen and (max-width: 1200px){

  /** at this point would like containers to look good when you have 2 columns*/
  .subject {
    width:40%;

  }

  .subject img{
    width: 100%;
    height:auto;

  }

}

@media only screen and (max-width: 850px){

  /** at this point would like subjects to stack one on top of the other*/
  .subject {
    width: 100%;
    text-align: center;
  }

  .subject img{
    width: 100%;
    height:auto;

  }

}


/* Add Mobile Learning Section */
@media only screen and (max-width: 480px){

    .learning.desktop{
      display:none;
    }

    .learning.mobile{
        width: 100%;
        background-color: rgb(234,235,236);
      /*  display: flex;
        flex-direction: column;
        align-items: stretch;*/
        display: block;
        padding: 0;
        margin: 0 0 1.5rem 0;
      }
      .learning h1{
        margin-top: 2rem;
        padding-top: 1rem;
        text-align: center;
        font-size: 3rem;
        color: darkslategrey;
        margin-bottom: 1rem;
      }


    .learning.mobile h2{
        font-weight: normal;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem 0 1.5rem 1rem;
        background-color: gainsboro;
        margin-bottom: .5rem;
    }

}




/** Thesis Exhibit Section */
/** Design is thesis is a  column flex container **/
/** h1 is first element
/** main-content class is second element*/
/** main-content is a row flex container that has 2 elements one is the video */
/** the other is the thesis-sidebar column that includes FISMA and Now-And-Then */

.thesis{
  display:flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
}
.thesis h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  color: darkslategrey;

}
.video{
  width: 60%;
  margin-left: 1.5rem;
  margin-right: .75rem;
  margin-top:0;

}
.thesis video{
  margin-top: 0;
  padding-top: 0;
  width: 100%;   /* Redline spec -- video is 100% of the width of .video container which is 60%.  1.00 x .6 = .6 */
  background-color: gainsboro;
}
.main-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.thesis-sidebar{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;  /** ISSUE: Added this to move the lower photo down so that on large screens it aligns with the bottom*/
                                  /*** of the video..  */
  width: 40%;
  margin-left: .75rem;
}
.thesis-fisma{
  display: flex;
  background-color: gainsboro;
}

.thesis-now-and-then{
  display:flex;
}

.thesis-image{
  width: 35%;     /*** Redline spec image width is 35% */
  height: auto;
  padding: 1rem;
}

.thesis-sidebar img {
  width: 100%;    /* from redline spec */
  height: auto;
  margin: 0;
  padding: 0;
}


.sidebar-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.sidebar-text h2{
  color: darkslategrey;
  font-size: 1.5rem;
  font-weight: bold;

  margin-bottom: .5rem;
}
.sidebar-text h3{
  font-size: 1.2rem;
  color: slategray;
  font-weight: lighter;

  margin-bottom: .5rem;
}

/*** stack text */
@media only screen and (max-width: 1200px){


    .thesis-now-and-then, .thesis-fisma{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .sidebar-text h2{
      margin-top: 0;
      margin-bottom: 0;
    }
    .thesis-image{
      width: 65%;  /** out of proportion at 100%*/
      justify-content: center;
      margin: .5rem;
    }

}


@media only screen and (max-width: 480px){

   /*** hide the sidebar ***/
  .thesis-sidebar{
    display:none;
  }

  /*** expand the video to be full width */

}

/*** mobile for thesis exhibits and reimagine urban***/

@media only screen and (max-width: 480px){

.thesis-sidebar{
  display: none;
}

.video {
  width: 100%;
}

  .reimagine-urban{
    display:none;
  }

}

/*** Reimagine Urban Section .. or bottom quote **/
.reimagine-urban{
  width: 60%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.reimagine-urban h2{                    /****ISSUE I need to refactor the h2's into a global h2 ***/
   color: darkslategrey;
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: .5rem;
 }

.reimagine-urban p{
  font-size: 1.3rem;
  margin-right: 2rem;
  color: slategray;
}
/*** Copyright section ***/

footer{
  margin-left: 1.5rem;
  margin-top: 2rem;
  padding-top: 1rem;
  color: slategray;
  border-top: 2px solid gainsboro;
}
