/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  border-color: whitesmoke;
}






/*** Navigation bar at top **/
nav{
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: white;
  color: black;
}

.logo{
  margin-left: 1.5rem;
  display:flex;
  align-items: center;
}
.logo span{
  font-size: 1.5rem;
  letter-spacing: .1em;
  font-weight: bold;
}
.logo .academy{
  color: gray;
}
nav img{
  height: 2.5rem; /* Issue .. looks to small at 16px or 2rem */
  width: auto;
}

.header li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.2rem;

}
.header ul li:last-child{
  margin-right: 1.5rem;
}


/**** ISSUE Add Media Query to display alternative image li and hide current li ***/

.mobileNav {
  display:none;
}

/*** The Main Banner.  This includes the image and the banner-text containers. These
are side by side in a row flexbox.  */

.banner{
  background-color: rgb(216,216,216);
  display: flex;
}

.banner img{
  width: 60%;
  margin: 1.5rem 2rem;
}

.banner-text{
  display: flex;
  color: darkslategray;/*#3B2921;*/
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.banner-text h1{
  margin-top:0;
  margin-bottom:0;
  font-size: 4rem;

}

.second-heading{
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.banner-text h2{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.startbutton {
  margin-top: 3rem;
  background: darkslategray;  /* ISSUE this color looks too green but according to a color picker tool it is correct */
  color: white;
  font-weight: bold;
  height: 2.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  text-align: center;
}

/**** Next Section - practicing.. another flexbox that consists of keep practicing and Orientation, campus and  Lecture(a column flexbox) ****/

.information{
 width: 100%;
 display:flex;
 justify-content: space-between;
 background-color: whitesmoke;
 color: darkslategrey;
}
.information-main{
  padding: 0;
  margin: 2rem 1.5rem;
  width: 60%;            /* ISSUE.. This is where  have sized the video to be 60%. Since it is 100% of this container.. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information-main img{
  width: 100%;           /* ISSUE.. This is where I was having problems.. */
  margin: 0;
  padding:0;
}

.information-main h1{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  padding-left: 1.5rem;
  width:100%;

}

.information-main p{
  font-size: 1.5rem;
  padding-left: 1.5rem;
  line-height: 1.5;
  width: 100%;

}
.quote {
  color: slategrey;
  margin-bottom: 4rem;
}

.person-quoted{
  margin-bottom: 2rem;
}

/**** right side of "Keep Practicing" section ***/

.orientation-campus-lecture{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1rem;
  background-color: whitesmoke;
  color: darkslategrey;
  padding: 2rem 0;  /*** these two lines give me proper spacing and border to the top of container...*/
  margin: 0 1rem;
  border-left: 2px solid gainsboro;  
}
.orientation, .campus, .lecture{
  display: flex;
  border-bottom: 2px solid gainsboro;
  background-color: whitesmoke;
  color: darkslategrey;
}
.campus {
  margin-top: .125rem;
  border-top: 2px solid gainsboro;
}
.orientation img{
  width: 35%;
  height: auto;
  margin: 0 1rem 1rem 1rem;

}
.campus img, .lecture img{
  width: 35%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;

}
.ocl-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}
.orientation-campus-lecture h2{
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: .5rem;  /** as per Redline spec */
}
.orientation-campus-lecture h3{
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 1rem;
  margin-bottom: .5rem;  /** as per Redline spec */
  margin-right: 1rem;
  line-height: 1.5;
}

.orientation-campus-lecture a{
  color: cornflowerblue;
  text-decoration: none;
}

.lecture{
  background-color: gainsboro;
}



/**** Start Learning Section ***/
/*** Design is One flex container that is a column  - .learning */
/*** Title is top element */
/*** top-class-set is middle element */
/*** bottom-class-set is bottom element */

/* Each class-set is also a row flex container */

.learning{
  background-color: rgb(234,235,236);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;

}

.learning h1{
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  color: darkslategrey;

}

.top-class-set{
  display: flex;
  flex-direction: row;
}
.bottom-class-set{
  display: flex;
  flex-direction: row;
}

.subject{
  background-color: whitesmoke;
  padding-bottom: 1.5rem;
  background-color: whitesmoke;
}

.software-engineering, .data{
  margin-right: 1rem;
  margin-bottom: 2rem;

}

.computer-art, .business{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.design, .marketing{
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 2rem;
}
.subject h2{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.subject h3{
  margin-left: 1rem;
  font-size: 1.5rem;
  color: slategray;
}

.subject p{
  margin-left: 1rem;
  color: slategray;
  font-size: 1.5rem;
  margin-top:.5rem;
  margin-bottom: .5rem;
}


/** Thesis Exhibit Section */
/** Design is thesis is a  column flex container **/
/** h1 is first element
/** main-content class is second element*/
/** main-content is a row flex container that has 2 elements one is the video */
/** the other is the thesis-sidebar column that includes FISMA and Now-And-Then */

.thesis{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.thesis h1{
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  color: darkslategrey;

}
.video{
  width: 60%;
  margin-left: 1.5rem;
  margin-right: .75rem;
  margin-top:0;

}
.thesis video{
  margin-top: 0;
  padding-top: 0;
  width: 100%;   /* Redline spec -- video is 100% of the width of .video container which is 60%.  1.00 x .6 = .6 */
  background-color: gainsboro;
}
.main-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.thesis-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /** ISSUE: Added this to move the lower photo down so that on large screens it aligns with the bottom*/
                                  /*** of the video..  */
  width: 40%;
  margin-left: .75rem;
}
.thesis-fisma{
  display: flex;
  background-color: gainsboro;
}

.thesis-now-and-then{
  display:flex;
}

.thesis-sidebar img {
  width: 35%;    /* from redline spec */
  height: auto;
  margin: 1rem;
}

.sidebar-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.sidebar-text h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .5rem;
}
.sidebar-text h3{
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: .5rem;
}



/*** Reimagine Urban Section .. or bottom quote **/


/*** Copyright section ***/
