/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}






/*** Navigation bar at top **/
nav{
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: white;
  color: black;
}

.logo{
  margin-left: 1.5rem;
  display:flex;
  align-items: center;
}
.logo span{
  font-size: 1.5rem;
  letter-spacing: .1em;
  font-weight: bold;
}
.logo .academy{
  color: gray;
}
nav img{
  height: 2.5rem; /* Issue .. looks to small at 16px or 2rem */
  width: auto;
}

.header li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.2rem;

}
.header ul li:last-child{
  margin-right: 1.5rem;
}


/**** ISSUE Add Media Query to display alternative image li and hide current li ***/

.mobileNav {
  display:none;
}

/*** The Main Banner.  This includes the image and the banner-text containers. These
are side by side in a row flexbox.  */

.container .banner{

  background-color: rgb(216,216,216);
  display: flex;
}

.banner img{
  width: 60%;
  margin: 1.5rem 2rem;
}

.banner-text{
  display: flex;
  color: darkslategray;/*#3B2921;*/
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.banner-text h1{
  margin-top:0;
  margin-bottom:0;
  font-size: 4rem;

}

.second-heading{
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.banner-text h2{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.startbutton {
  margin-top: 3rem;
  background: darkslategray;  /* ISSUE this color looks too green but according to a color picker tool it is correct */
  color: white;
  font-weight: bold;
  height: 2.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  text-align: center;
}

/**** Next Section - practicing.. another flexbox that consists of keep practicing and Orientation, campus and  Lecture(a column flexbox) ****/



/** Start Learning Section **/



/** Thesis Exhibit Section */


/*** Reimagine Urban Section .. or bottom quote **/


/*** Copyright section ***/
